<div class="container py-5 home-page-container">
  
  <div class="row align-items-center section-spacing">
    <div class="col-lg-6 mb-4 mb-lg-0 pe-lg-5">
      <h1 class="main-title mb-4">Система сортування вагонів</h1>
      <p class="description-text">
        Система створена для швидкого розподілення вагонів відповідних типів, дозволяє створити новий потяг та його напрямок.
      </p>
    </div>
    <div class="col-lg-6 text-center">
      <img src="assets/Train-bro.png" alt="Потяг на мосту" class="img-fluid hero-img">
    </div>
  </div>

  <div class="row align-items-center mt-5 section-spacing">
    <div class="col-lg-6 order-2 order-lg-1 text-center text-lg-start mt-4 mt-lg-0">
      <img src="assets/Train-amico.png" alt="3D Потяг" class="img-fluid hero-img-small">
    </div>

    <div class="col-lg-6 order-1 order-lg-2 text-lg-end ps-lg-5">
      <p class="secondary-text mb-4">
        Якщо ви хочете витягнути вже наявний звіт про посортований потяг, можете перейти на сторінку звітів. За детальною інформаціює як працює система перейдіть на сторінку довідка.
      </p>
      
      <div class="d-flex flex-column flex-sm-row justify-content-lg-end gap-3 mt-3">
        <button class="btn btn-yellow rounded-pill px-4 fw-bold shadow-sm" routerLink="/sorting">
          Почати сортування
        </button>
        <button class="btn btn-outline-reports rounded-pill px-4 fw-bold shadow-sm" routerLink="/reports">
          Перейти до звітів
        </button>
      </div>
    </div>
  </div>

</div>